# Node
node_modules/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Uploads & Runtime Files
uploads/
logs.json
pip_log.txt

# Development Files
.vscode/

# Scratch Scripts
scratch/

# OS Files
.DS_Store
Thumbs.db

# Optional (Huge Training Dataset)
dataset/
